/* special font usage: "font-family: 'Rubik', sans-serif;" */

/* * {
  outline: 1px solid red;
} */

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

main{
  flex-grow: 1;
}

li.borderless{
  border-style: none;
}

.navbar.sticky-top.navbar-dark.bg-primary.row{
  position: fixed;
  width: 100%;
  top: 0;
}

.banner{
  background-image: url(https://images.unsplash.com/photo-1571391733814-15ac29ac3544?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
}

.banner-box{
  padding-top: 8em;
  padding-left: 4em;
}

.below-banner-text{
 padding-top: 5em;
 padding-left: 4em;
}

.item-shadow{
  box-shadow: 1px 1px grey;
}

#banner-text{
  padding-left: 3em;
  border-left: 10px solid var(--primary);
  text-shadow: 1px 1px grey;
}

#offset-card{
  width: 70em; 
  position: relative; 
  transform: translateY(20%);
  margin-left: 5%;
}


@media only screen and (max-width: 1100px){ 
  #offset-card{
    width: 100%;
    transform: translateY(0%);
    margin-left: 0%;
    margin: 2em auto;
  }
}

@media only screen and (max-width: 1100px){ 
  .below-banner-text{
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
   }
}