/* special font usage: "font-family: 'Rubik', sans-serif;" */

/* * {
  outline: 1px solid red;
} */

html {
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  font-family: 'Rubik', sans-serif;
}

main{
  flex-grow: 1;
}

li.borderless{
  border-style: none;
}

li i{
  padding-right: 1em;
}

h1 i{
  padding: 0 0.5em;
}

.font-primary{
  color: var(--primary);
}

.navbar.sticky-top.navbar-dark.bg-primary.row{
  position: fixed;
  width: 100%;
  top: 0;
}

.banner{
  background-image: url(/snake.jpg);
  background-size: cover;
}

.img-box{
  height: 18em;
  width: auto;
  background-image: url(/snake.jpg);
  background-size: cover;
}

.primary-card{
  height: 22em;
}

.secondary-card{
  height: 18em;
}

.banner-box{
  padding-top: 8em;
  padding-left: 4em;
}

.below-banner-text{
 padding-top: 5em;
 padding-left: 4em;
}

.item-shadow{
  box-shadow: 1px 1px grey;
}

#banner-text{
  padding-left: 3em;
  border-left: 10px solid var(--primary);
  text-shadow: 1px 1px grey;
}

#offset-card{
  width: 70em; 
  position: relative; 
  transform: translateY(20%);
  margin-left: 5%;
}

@media only screen and (max-width: 1800px){
  #offset-card{
    width: 65em; 
    position: relative; 
    transform: translateY(20%);
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1700px){
  #offset-card{
    width: 56em; 
    position: relative; 
    transform: translateY(20%);
    margin-left: 5%;
  }
}

@media only screen and (max-width: 1450px){
  #offset-card{
    width: 46em; 
    position: relative; 
    transform: translateY(20%);
    margin-left: 5%;
  }
}

@media only screen and (max-width:1200px){
  #offset-card{
    width: 45em; 
    position: relative; 
    transform: translateY(20%);
    margin-left: 5%;
    margin: 2em auto;
}

@media only screen and (max-width: 1150px){
  #offset-card{
    width: 40em; 
    position: relative; 
    transform: translateY(20%);
    margin-left: 5%;
    margin: 2em auto;
  }  
}

@media only screen and (max-width: 1020px){
  #offset-card{
    width: 30em; 
    position: relative; 
    transform: translateY(20%);
    margin-left: 5%;
    margin: 2em auto;
  }  
}

@media only screen and (max-width: 767px){ 
  #offset-card{
    width: 18rem;
    transform: translateY(0%);
    margin-left: 0%;
    margin: 2em auto;
  }
}

@media only screen and (max-width: 1100px){ 
  .below-banner-text{
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
   }
}

@media only screen and (max-width: 1020px){
  #image-card{
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px){
  #image-card{
    margin-top: 0px;
  }
}