/* special font usage: "font-family: 'Rubik', sans-serif;" */

/* * {
  outline: 1px solid red;
} */

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

main{
  flex-grow: 1;
}

li.borderless{
  border-style: none;
}

li i{
  padding-right: 1em;
}

h1 i{
  padding: 0 0.5em;
}

.font-primary{
  color: var(--primary);
}

.navbar.sticky-top.navbar-dark.bg-primary.row{
  position: fixed;
  width: 100%;
  top: 0;
}

.banner{
  background-image: url(/snake.jpg);
  background-size: cover;
}

.banner-box{
  padding-top: 8em;
  padding-left: 4em;
}

.below-banner-text{
 padding-top: 5em;
 padding-left: 4em;
}

.item-shadow{
  box-shadow: 1px 1px grey;
}

#banner-text{
  padding-left: 3em;
  border-left: 10px solid var(--primary);
  text-shadow: 1px 1px grey;
}

#offset-card{
  width: 70em; 
  position: relative; 
  transform: translateY(20%);
  margin-left: 5%;
}

@media only screen and (max-width: 1800px){
  #offset-card{
    width: 45em; 
    position: relative; 
    transform: translateY(20%);
    margin-left: 5%;
  }
}


@media only screen and (max-width: 1100px){ 
  #offset-card{
    width: 18rem;
    transform: translateY(0%);
    margin-left: 0%;
    margin: 2em auto;
  }
}

@media only screen and (max-width: 1100px){ 
  .below-banner-text{
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
   }
}